<div>Game starts!</div>
<div>
 <progress-bar [progress]="progress()"/>
  Timer: {{ displayTime() }}
  <br /><br />
  Correct problems: {{ correctProblemsCounter() }} Tries:
  {{ triesCounter() }} Fail problems: {{ failProblemsCounter() }}
  <br /><br />
  Remaining tries for this problem: {{ remainingTries() }}
</div>
<form>
  <div>
    {{ currMathProblem().operand1 }} {{ problemSign() }}
    {{ currMathProblem().operand2 }} = @if (showAnswer()) {
    {{ currMathProblem().solution }} } @else { ?? } @if (hint()) {
    <div>{{ hint() }}</div>
    }
  </div>
  <br />
  @if (showAnswer()) {
  <input type="button" value="Continue" (keyup.enter)="onContinueButtonPress()" (click)="onContinueButtonPress()" />
  } @else {
  <input
    [(ngModel)]="answer"
    (keyup.enter)="onAnswerEnter()"
    name="answer"
    type="number"
  />
  <input type="button" value="Try" (click)="onAnswerEnter()" />
  }
</form>
