<div>
  <h2>Select difficulty</h2>
  <select [(ngModel)]="difficulty">
    <option value="easy">Easy</option>
    <option value="mid">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <br />
  
  <h2>Select a game mode</h2>
  <select [(ngModel)]="mode">
    <option value="zen">
      Zen (complete a set number of puzzles at your own pace)
    </option>
    <option value="blitz">
      Blitz (do as many puzzles as possible in a few minutes)
    </option>
  </select>
  <br />
  <ng-container [ngTemplateOutlet]="configTemplate()" />
  <br />

  <ng-template #configBlitz>
    <h2>Select time to play</h2>
    <select [(ngModel)]="blitzTime">
      <option value="1m">1 minute</option>
      <option value="3m">3 minute</option>
      <option value="5m">5 minute</option>
    </select>
    <br />
    <br />
    <input type="button" value="Start Game" (click)="startGame()" />
  </ng-template>

  <ng-template #configZen>
    <h2>Select number of problems</h2>
    <select [(ngModel)]="zenNumberOfProblems">
      <option value="10">10 problems</option>
      <option value="30">30 problems</option>
      <option value="50">50 problems</option>
    </select>
    <br />
    <br />
    <input type="button" value="Start Game" (click)="startGame()" />
  </ng-template>
</div>
